*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Desarrollo del Header */
header{
    background-color: #55828B;
    height: 200px;
    width: auto;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    padding: 20px;
}
/* Logo Principal */
.imagenlogo{
    height: 140px;
    width: auto;
    float: left;
}
.logo{
    float: inline-start;
    padding: 45px;
}
/* Barra Navegacion */
.barra{
    float: right;
}
.barra li{
    list-style: none;
    display: inline-block;
}
.barra a{
    text-decoration: none;
    color: black;
}
.barra a:hover{
    color: white;
}
/* Seccion Proyectos */
h2{
    background-color: #A4A5AE;
    font-family: 'Acme', sans-serif;
    font-size: 26px;
    padding: 30px;
    text-align: center;
}
main{
    padding: 10px;
}
/* Subtitulos de Proyectos  */
h3{
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}
/* Imagenes */
img{
    height: 270px;
    width: auto;
    margin-bottom: 10px;
}
/* Parrafos de Imagenes */
p{
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
/* Boton "ver mas proyectos" */
.boton{
    background-color: #55828B;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    border: solid 2px;
}
.boton:hover{
    background-color: #1e1e1e;
    transition: all 0.5s;
}
/* Pie de pagina */
footer{
    background-color: #55828B;
    height: 150px;
    width: auto;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    margin: 30px 0 0 0;
}
/* Lista en Pie de Pagina */
.listafooter{
    list-style: none;
    display: inline;
    float: right;
    padding-right: 30px;
    padding-top: 10px;
}
.listafooter li a{
    text-decoration: none;
    color: black;
}
.listafooter a:hover{
    color: white;
}
/* Logo en Pie de Pagina */
.imgfooter{
    float: left;
    height: 100px;
    width: auto;
    padding-left: 30px;
    padding-top: 10px;
}
/* Redes Sociales */
.redes{
    text-align: center;
    padding-top: 60px;
}
.cierre{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    text-align: center;
}
/* Nosotros */
.parrafonosotros{
    text-align: center;
    font-size: 18px;
    padding: 50px;
}
.parrafonosotros2{
    text-align: center;
    font-size: 18px;
    padding: 0 0 30px;
}
.parrafonosotros3{
    text-decoration: underline;
    font-size: 18px;
    padding: 0 50px;
}
.listaparrafo{
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 0 50px;
}
/* Servicios */
.servicios{
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    padding: 30px;
}
h4{
    text-decoration: underline;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
}
article .listaservicios{
    padding-left: 30px;
}
/* Proyectos */
.proyectos{
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Contacto */
.parrafocontacto{
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
span{
    color: blue;
    text-decoration: underline;
}
.formulario{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}